.total-page{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100px;
    width: 100vw;
    background-color:lightgreen;
}

h2{
    padding-top: 35px;
    padding-left: 100px;
    color: green;
}

ul{
    position: absolute;
    top: 6%;
    right: 5%;
}

ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    color:green;
}


.grid-container {
    padding-top: 100px;
    padding-left: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px; /* Space between grid items */
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer";
  }
  
  .grid-item {
    
  }

  

  .grid-item img {
    max-width: 300px;
    max-height: 300px;
  }

  .grid-item img:hover{
    transform: translateX(30px);
    transition: 0.5s;
  }

  .grid-paragraph p {
    position: relative;
    left: 130px;
  }